---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post  pb-15">
      <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">
        <h1 class="mb-0 pb-0 {%if post.title == ''%}{{site.untitled_class}}{% endif %}">{{ post.title | default: site.untitled}}</h1>
      </a>
      <small class="post_date text-muted text-uppercase">{{ post.date | date: "%B %e, %Y" }}</small>
      
      <div class="entry mt-3">
        {{ post.excerpt }}
      </div>

      {% unless post.excerpt == post.content %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more text-muted">Read More</a>
      {% endunless %}

      <hr>

    </article>
  {% endfor %}

  <!-- pagination -->
  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="text-center">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}
    <span>&nbsp;</span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
