<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/custom.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon.ico">
    
    <style>
      * {
          /* border: solid 0.1px red; */
      }
    </style>
    
    {% include ads.html %}
  </head>

  <body>
    <div class="container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.name }}" /></a>

            <div class="site-info">
              <h1 class="site-name display-4">{{ site.name }}</h1>
              <p class="site-description lite mb-0">{{ site.description }}</p>
            </div>
          </header>
          
          <nav class="nav-bar bg-white border-bottom border-top border-muted">
            <ul class="nav justify-content-center nav-fill">
              <li class="nav-item">
                <a class="nav-link text-dark" href="{{ site.baseurl }}/">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link text-white" href="{{ site.baseurl }}/getting-started">Getting Started</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link text-dark" href="{{ site.baseurl }}/search">Search</a>
              </li>
              <!--<li class="nav-item">
                <a class="nav-link text-dark" href="{{ site.baseurl }}/about">About</a>
              </li> -->
          </nav>

        </div>
      </div>
      
      <div class="wrapper-main container">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            <!-- <hr> -->
            <!-- {% include footer.html %} -->
            <!-- <p class="float-right text-muted"><small>Made in Manila</small></p> -->
            <p></p>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- Top banner horizontal -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-4169813761132159"
                   data-ad-slot="1113722535"
                   data-ad-format="auto"
                   data-full-width-responsive="true"></ins>
              <script>
                   (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
