---
layout: default
---

<article class="post detailed">
  <h1 class="mb-0 pb-0 {%if page.title == ''%}{{site.untitled_class}}{% endif %}">{{ page.title | default: site.untitled}}</h1>

  <div>
    <small class="post_date text-muted text-uppercase">{{ page.date | date: "%B %e, %Y" }}</small>
  </div>
  <p></p>

  <div class="entry">
    {{ content }}
  </div>

  <div class="post-tags">
    <small>
    Categories:
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
      <a class="text-muted text-small" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>{% unless forloop.last %}&comma;&nbsp;{% endunless %}
    {% endfor %}
    </small>
  </div>

</article>
